.arrow-button {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    background-color: #367faf; 
    border-radius: 50%; 
    margin-top: 20px;
    position: relative;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23e8eaed"><path d="m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
    background-size: 40px; /* Adjust size of the SVG */
    background-repeat: no-repeat;
    background-position: center; /* Center the SVG */
}

.arrow-button:hover {
    background-color: #51a5dd; /* Change background color on hover */
    box-shadow: 0 0 20px 10px rgba(35, 124, 184, 0.8); /* Glow effect on hover */
}
