:root {
    --background-color: #b1ddda;
    --color: #ff69b4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: var(--color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

.nav-link {
    color: #d2691e;
    text-decoration: none;
}

.nav-link:hover {
    color: #006666;
}

.hero {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
}

.hero-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-text h2 {
    color: #d2691e;
}

.hero-text p {
    color: #333;
}

.testimonials {
    padding: 20px;
    background-color: var(--background-color);
}

.testimonial {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonial-text {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    max-width: 500px;
}

.testimonial-text::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #f5f5f5;
    border-bottom: 10px solid transparent;
}

.testimonial p {
    margin: 0;
    color: #333;
    font-style: italic;
}

.testimonial-review {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse; 
    margin-bottom: 20px;
}

.testimonial-review img {
    margin-left: 15px; 
    margin-right: 0; 
}

.testimonial-review p {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    max-width: 500px;
}

.testimonial-review p::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -15px; 
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #f5f5f5;
    border-bottom: 10px solid transparent;
}


.contact {
    padding: 20px;
    text-align: center;
    background-color: #ffefd5;
}

.contact h2 {
    color: #d2691e;
}

.contact a {
    color: #ff69b4;
    text-decoration: none;
}

.contact a:hover {
    color:#d2691e;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ff69b4;
    color: #fff;
}