:root {
    --background-color: #b1ddda;
    --color: #ff69b4;
    --item-background: #fff;
    --item-border: #ff69b4;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: var(--color);
    margin: 0;
    font-size: 2.5em;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

nav ul li {
    margin: 0 15px;
}

.nav-link {
    color: #d2691e;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

.nav-link:hover {
    background-color: var(--color);
    color: #fff;
}

#treats-container {
    padding: 20px;
}

h2 {
    color: var(--color);
    text-align: center;
    margin: 20px 0 10px;
    font-size: 1.5em;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.treat-item {
    background-color: var(--item-background);
    border: 2px solid var(--item-border);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.treat-item:hover {
    transform: scale(1.05);
}

.treat-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.treat-item h3 {
    color: var(--color);
    margin: 5px 0;
}

.treat-item p {
    color: var(--text-color);
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color);
    color: #fff;
}
.gf-icon {
    color: #4CAF50; 
    font-size: 1.2em;
    margin-right: 5px;
}

.index-section {
    background-color: var(--item-background);
    border: 2px solid var(--item-border);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.index-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.index-section li {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.index-section .fan-favorite-icon {
    color: var(--color);
    font-size: 1.5em;
    margin-right: 10px;
}

.index-section .gf-icon {
    color: #4CAF50;
    font-size: 1.5em;
    margin-right: 10px;
}

.index-section li:hover {
    background-color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
